body {
  font-family: "Yekan Bakh";
}

.boxed {
  width: 95% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.bgkhas:before {
  position: absolute;
  right: 0;
  height: 600px;
  width: 100%;
  z-index: -1;
  content: "";
  border-radius: 50px;
  transform: skewY(-12deg);
  transform: rotateZ(5deg);
  background: #f4f7fc;
  background: -moz-linear-gradient(top, #f3f7ff 0, rgba(255, 255, 255, 0) 80%);
  background: -webkit-linear-gradient(
    top,
    #f3f7ff 0,
    rgba(255, 255, 255, 0) 80%
  );
  background: linear-gradient(to bottom, #f3f7ff 0, rgba(255, 255, 255, 0) 80%);
  transform-origin: top center;
  top: 380px;
  left: -100px;
}
.bgkhas2:before {
  position: absolute;
  right: 50px;
  height: 600px;
  width: 100%;
  z-index: -1;
  content: "";
  border-radius: 50px;
  transform: skewY(-12deg);
  background: #f4f7fc;
  background: -moz-linear-gradient(top, #f3f7ff 0, rgba(255, 255, 255, 0) 70%);
  background: -webkit-linear-gradient(
    top,
    #f3f7ff 0,
    rgba(255, 255, 255, 0) 70%
  );
  background: linear-gradient(to bottom, #f3f7ff 0, rgba(255, 255, 255, 0) 70%);
  transform-origin: top center;
  opacity: 0.6;
  top: 250px;
}
.c-shadow {
  box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.11),
    0 12px 90px 0 rgba(103, 151, 255, 0.11);
}

.bg-blur {
  backdrop-filter: saturate(150%) blur(20px);
}

#hero {
  background-image: url("../images/ee.jpeg"),
    linear-gradient(rgba(45, 92, 247, 0.1), rgba(50, 47, 227, 0.2));
  background-size: cover;
  background-blend-mode: overlay;
  background-position: top;
}

.title-text {
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #0e6ba0, #2b32b2);
  background: linear-gradient(to right, #0e6ba0, #2b32b2);
  background-clip: text;
  color: transparent;
  float: right;
  font-weight: 900;
  -webkit-background-clip: text !important;
  text-align: right;
  opacity: 1;
  transition: all 0.2s ease-out;
}

.c-box {
  box-shadow: rgba(191, 206, 222, 0.8) 0px 5px 15px 0px;
  border: #00000000 2px solid !important;
  transition: border 0.2s ease-in-out;
}

.c-box:hover {
  border: #0b1e43 2px solid !important;
  transition: border 0.2s ease-in-out;
}

.info-bar {
  background-color: #0a3979;
}

.accent {
  color: #0b1e43 !important;
}

.c-link {
  text-decoration: none;
}

.box-border {
  border: #1673f5 2px solid;
}

#main-nav {
  background: #0003b3c7;
}

#search-input {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 20%;
  margin-left: 30px;
  font-size: 16px;
  padding: 7px 20px 7px 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#search-page {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.345);
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.585); 
}

#search-overlay{
    backdrop-filter: blur(50px);
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.overlay .closebtn:hover {
  color: rgb(41, 41, 41);
}

/* Style the search field */
.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 3px 12px;
}

.overlay input[type="text"]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 9%;
  padding: 15px;
  background-color: rgb(58, 75, 255);
  font-size: 17px;
  color:#fff!important;
  box-shadow: rgba(0, 0, 0, 0.058) 0px 3px 12px;
  border-radius: 10px;
  border: none;
  margin-right:1%;
  cursor: pointer;
  transition: background-color 100ms linear;
}

.overlay button:hover {
  background-color: rgb(38, 64, 211);
  transition: background-color 100ms linear;

}

.search-btn{
    color:#fff;
}
.search-btn:hover{
    color:rgb(209, 209, 209)!important;
}

#search-results{
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
